
.banner {
    height: 400px;
    background: url(../asset/image/smk.jpg);
    background-size: cover;
    height: 400px;
    padding: 150px 0px;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    color: #fff;
}


