
.banner {
    background: url(../asset/image/smk.jpg);
    background-size: cover;
    height: 400px;
    padding: 150px 0px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.sambutan {
    background-color: steelblue;
    color: white;
}

.judul {
    background-color: steelblue;
    padding: 15px;
    text-align: center;
    color: white;
}

.apa {
    padding-top: 55px;
    padding-right: 20px;
}

